html {
    box-sizing: border-box;
    font-size: 62.5%;/*es igual a 10px y se pone asi para que sea mas facil manipular despues con la medida rem*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: hsl(72, 8%, 88%);
}

.contenedor{
    max-width: 636px; /*ancho*/
    max-height: 475px; /*alto*/
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 3px 3px 5px rgba(192, 192, 192, 0.931);
}

.contenedor .contenedor-top{
    background-color: white;
    border-radius: 10px 10px 0 0;
    max-height: 46%;
    width: 100%;
}

.contenedor .contenedor-top .contenedor-top-info{
    margin: 40px;
}

.contenedor .contenedor-top .contenedor-top-info h1{
    margin-top: 0;
    color: hsl(179, 62%, 43%);
    font-size: 2.6rem;
    font-weight: 700;
}

.contenedor .contenedor-top .contenedor-top-p1{
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}

.contenedor .contenedor-top .contenedor-top-p2{
    font-size: 14px;
    font-weight: 700;
    color: hsl(218, 22%, 67%, .6);
    line-height: 23px;
    margin-right: 51px;
}

.contenedor .contenedor-bajo{
    display: flex;
    justify-content: space-around;
    max-height: 54%;
    width: 100%;
}

.contenedor .contenedor-bajo .contenedor-bajo-d1{
    width: 50%;
    height: 100%;
    color: hsl(204, 43%, 93%);
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 10px;
}

.contenedor .contenedor-bajo .contenedor-bajo-d2{
    width: 50%;
    height: 100%;
    color: hsl(204, 43%, 93%);
    background-color: hsl(179, 62%, 43%, .8);
    border-radius: 0 0 10px 0;
}

.contenedor .contenedor-bajo .contenedor-bajo-d1 .contenedor-bajo-d1-info, .contenedor .contenedor-bajo .contenedor-bajo-d2 .contenedor-bajo-d2-info{
    margin: 40px;
}

h3{
    font-size: 18px;
}

.contenedor .contenedor-bajo .contenedor-bajo-d1 .contenedor-bajo-d1-info h2{
    font-size: 33px;
    font-weight: 700;
    color: white;
    margin: 15px 0 8px 0;
}

.contenedor .contenedor-bajo .contenedor-bajo-d1 .contenedor-bajo-d1-info h2 span{
    text-align: justify;
    font-size: 14px;
    font-weight: 700;
    color: hsl(204, 43%, 93%, .4);
    margin: 0 0 0 8px;
}

.contenedor .contenedor-bajo .contenedor-bajo-d1 .contenedor-bajo-d1-info p{
    margin: 0;
}

.contenedor .contenedor-bajo .contenedor-bajo-d1 .contenedor-bajo-d1-info input{
    background-color: hsl(71, 73%, 54%);
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px hsl(179, 62%, 43%);
    color: white;
    margin-top: 30px;
}

.contenedor .contenedor-bajo .contenedor-bajo-d2 .contenedor-bajo-d2-info p{
    line-height: 20px;
    font-size: 13px;
    color: hsl(204, 43%, 93%, .5);
}

@media screen and (max-width: 670px){
    .contenedor{
        width: 80%; 
        max-height: 700px;  
    }

    .contenedor .contenedor-top{
        height: 230px;
        border-radius: 2px 2px 0 0;
    }

    .contenedor .contenedor-top .contenedor-top-info{
        margin: 20px;
    }

    .contenedor .contenedor-top .contenedor-top-info h1{
        margin-top: 15px;
        font-size: 2rem;
    }

    .contenedor .contenedor-top .contenedor-top-p1{
        font-size: 14px;
    }

    .contenedor .contenedor-top .contenedor-top-p2{
        font-size: 12.5px;
        margin-right: 0;
    }

    .contenedor .contenedor-bajo{
        display: flex;
        flex-direction: column;
    }

    .contenedor .contenedor-bajo .contenedor-bajo-d1{
        width: 100%;
        border-radius: 0;
    }

    .contenedor .contenedor-bajo .contenedor-bajo-d2{
        width: 100%;
    }

    .contenedor .contenedor-bajo .contenedor-bajo-d1 .contenedor-bajo-d1-info, .contenedor .contenedor-bajo .contenedor-bajo-d2 .contenedor-bajo-d2-info{
        margin: 20px;
    }

    h3{
        font-size: 16px;
    }

    .contenedor .contenedor-bajo .contenedor-bajo-d1 .contenedor-bajo-d1-info h2{
        font-size: 28px;
    }

    .contenedor .contenedor-bajo .contenedor-bajo-d1 .contenedor-bajo-d1-info p{
        font-size: 14px;
    }

    .contenedor .contenedor-bajo .contenedor-bajo-d1 .contenedor-bajo-d1-info input{
        height: 40px;
    }

    .contenedor .contenedor-bajo .contenedor-bajo-d2 .contenedor-bajo-d2-info p{
        font-size: 12px;
    }
}